/* styles.css */


  body {
    font-family: monospace;
    font-size:small;
    width: 700px;
    margin: auto;
    color: black;
    background-color: rgb(245, 255, 220);
    
   
  }
  
  p {
    
  } 

  img {
    width: 75%;
  }
  


