/* styles.css */


  body {
    font-family: monospace;
    font-size:small;
    width: 700px;
    margin: auto;
    color: black;
    background-color: rgb(245, 255, 220);
    
   
  }
  
  p {
    
  } 

  
  mark.pink {
    color:#ff0080;
    background: none;
}

mark.blue {
    color:#000d9a;
    background: none;
}

img.with-text {  
    float: right;  
    max-width: 50%;  
    height: auto; } 
    .clearfix:after {   
        content: " ";    
        visibility: hidden;   
        display: block;   
        height: 0;   
        clear: both; 
    } 
img.between-text {  
    width: 40%;  
    height: auto;  
    display: block; 
    margin-left: auto; 
    margin-right: auto;} 

figcaption {
    text-align: center; 
    font-size: smaller;
    color: grey;
}
  




